{
    "blockchainNetworks": [
        {
            "identifier": "agoric",
            "kind": "cosmos",
            "endpoint": "",
            "wallets": [
                {
                    "walletAddress": "",
                    "useCase": "IBC relayer",
                    "minBalance": 20000000
                }
            ],
            "conversionFactor": 1000000,
            "failureThreshold": 24,
            "currencyUnit": "ubld",
            "priceSource": "agoric"
        },
        {
            "identifier":"Oracle",
            "kind":"ethereum",
            "endpoint":"https://rpc.ankr.com/eth",
            "wallets":[
                {
                    "walletAddress":"",
                    "useCase":"",
                    "minBalance":300000000000000000
                }
            ],
            "conversionFactor":1000000000000000000,
            "failureThreshold":12,
            "currencyUnit":"wei",
            "priceSource":"ethereum"
        },
        {
            "identifier": "cosmoshub",
            "kind": "cosmos",
            "endpoint": "",
            "wallets": [
                {
                    "walletAddress": "",
                    "useCase": "",
                    "minBalance": 2000000
                }
            ],
            "conversionFactor": 1000000,
            "failureThreshold": 24,
            "currencyUnit": "uatom",
            "priceSource": "cosmos"
        }
    ]
}
